.player-display-container {
  display: flex;
  gap: 27px;
  padding-inline-start: 8px;

  margin-block: 50px;
}

@media screen and (min-width: 48rem) {
  .player-display-container {
    gap: 43px;
    padding-inline-start: 25px;
    margin-block: 32px;
  }
}

@media screen and (min-width: 90rem) {
  .menu-player-display-board-container {
    max-width: 632px;
    margin-inline: auto;
  }
  .player-display-container {
    display: none;
  }
}
