/* mobile */
.text-white {
  color: var(--color-neutral-white);
}

.red-bg {
  background-color: var(--color-red);
}

.pause-modal-container[data-showpausemenu="false"] {
  display: none;
}

.pause-modal-container {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  padding-inline: 20px;
}

.pause-modal {
  --inline-space: 20px;
  position: absolute;
  padding: 20px;
  padding-block: 30px;
  inset: 0;
  height: min-content;
  margin: auto;
  max-width: 480px;
  background-color: var(--color-purple);
  left: var(--inline-space);
  right: var(--inline-space);

  display: flex;
  flex-direction: column;
  gap: 30px;

  /* box shadow */
  border-block-start: var(--border-block-start-inline);
  border-inline: var(--border-block-start-inline);
  border-radius: var(--border-radius);
  box-shadow: var(--bottom-box-shadow);
  border-color: var(--color-neutral-black);
}

.pause-title {
  font-size: var(--font-size-56px);
  align-self: center;
}

.pause-modal button {
  font-size: var(--font-size-24px);
  padding-block: 20px;

  border-block-start: var(--border-block-start-inline);
  border-inline: var(--border-block-start-inline);
  border-radius: var(--border-radius);
  box-shadow: var(--bottom-box-shadow);
  border-color: var(--color-neutral-black);
}

.pause-modal button:hover,
.pause-modal button:focus {
  box-shadow: var(--bottom-box-shadow-hover);
  border-color: var(--color-dark-purple);
}

/* tablet */
/* desktop */
