/* mobile */

.row[id="animation-row"] [data-droppedposition="last"] {
  animation: MobileDroppedPositionSixthRow 1500ms ease-out forwards;
}

.connect-four-board-container {
  width: max-content;
  position: relative;
}

/* declare pointer-events: none for div with class front-game-board
we can click on connect for chips */

.front-game-board {
  position: absolute;
  transform: translateY(-320px);
}
/* span:first-child */
/* one option */
/* .chips-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: absolute;
  padding: 6px;
  top: 0;
  gap: 7px 8px;
} */

/* another option */

.chips-container {
  position: absolute;
  top: 0;
  padding-block-start: 7px;
  padding-inline-start: 6px;
}

.chips-container > * + * {
  margin-block-start: 7px;
}

.click-row {
  position: absolute;
}

.row {
  display: flex;
  gap: 7px;
}

.row[id="animation-row"] {
  position: absolute;
  top: 7px;
  margin-block-start: 0px;
}

.row[id="first-row"] span {
  background-color: transparent;
}

.chips-container span {
  display: block;
  /* width: 39px; */
  /* background-color: black; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.clicking-container {
  width: 328px;
  height: 282px;
  position: absolute;
  top: 0;
  display: flex;
  gap: 7px;
  padding-block-start: 7px;
  padding-inline-start: 6px;
}

.clicking-container span {
  flex-basis: 40px;
}

/* tablet */

@media screen and (min-width: 48rem) {
  .front-game-board {
    transform: translateY(-593px);
  }

  .chips-container {
    position: absolute;
    top: 0;
    padding-block-start: 17px;
    padding-inline-start: 16px;
  }

  .chips-container > * + * {
    margin-block-start: 17px;
  }

  .row {
    gap: 17px;
  }

  .chips-container span {
    width: 71px;
    height: 71px;
  }
}

/* desktop */

/* chip animation */

/* mobile */

/* first row */

@keyframes MobileDroppedPositionFirstRow {
  0% {
    background-color: transparent;
  }

  2% {
    background-color: var(--color-neutral-black);
  }

  100% {
    background-color: var(--color-neutral-black);
  }
}

/* second row */

@keyframes MobileDroppedPositionSecondRow {
  0% {
    transform: translateY(0px);
    background-color: transparent;
  }

  2% {
    transform: translateY(0px);
    background-color: var(--color-neutral-black);
  }

  100% {
    transform: translateY(47px);
    background-color: var(--color-neutral-black);
  }
}

/* third row */

@keyframes MobileDroppedPositionThirdRow {
  0% {
    transform: translateY(0px);
    background-color: transparent;
  }

  2% {
    transform: translateY(0px);
    background-color: var(--color-neutral-black);
  }

  100% {
    transform: translateY(94px);
    background-color: var(--color-neutral-black);
  }
}

/* fourth row */

@keyframes MobileDroppedPositionFourthRow {
  0% {
    transform: translateY(0px);
    background-color: transparent;
  }

  2% {
    transform: translateY(0px);
    background-color: var(--color-neutral-black);
  }

  100% {
    transform: translateY(141px);
    background-color: var(--color-neutral-black);
  }
}

/* fifth row */

@keyframes MobileDroppedPositionFifthRow {
  0% {
    transform: translateY(0px);
    background-color: transparent;
  }

  2% {
    transform: translateY(0px);
    background-color: var(--color-neutral-black);
  }

  100% {
    transform: translateY(188px);
    background-color: var(--color-neutral-black);
  }
}

/* sixth row */

@keyframes MobileDroppedPositionSixthRow {
  0% {
    transform: translateY(0px);
    background-color: transparent;
  }

  2% {
    transform: translateY(0px);
    background-color: var(--color-neutral-black);
  }

  100% {
    transform: translateY(234px);
    background-color: var(--color-neutral-black);
  }
}

/* tablet */

@media screen and (min-width: 48rem) {
  /* first row */

  @keyframes TabletScreenDroppedPositionFirstRow {
    0% {
      transform: translateY(0px);
      background-color: transparent;
    }

    2% {
      transform: translateY(0px);
      background-color: var(--color-neutral-black);
    }

    100% {
      background-color: var(--color-neutral-black);
    }
  }

  /* second row */

  @keyframes TabletScreenDroppedPositionSecondRow {
    0% {
      transform: translateY(0px);
      background-color: transparent;
    }

    2% {
      transform: translateY(0px);
      background-color: var(--color-neutral-black);
    }

    100% {
      transform: translateY(89px);
      background-color: var(--color-neutral-black);
    }
  }

  /* third row */

  @keyframes TabletScreenDroppedPositionThirdRow {
    0% {
      transform: translateY(0px);
      background-color: transparent;
    }

    2% {
      transform: translateY(0px);
      background-color: var(--color-neutral-black);
    }

    100% {
      transform: translateY(177px);
      background-color: var(--color-neutral-black);
    }
  }

  /* fourth row */

  @keyframes TabletScreenDroppedPositionFourthRow {
    0% {
      transform: translateY(0px);
      background-color: transparent;
    }

    2% {
      transform: translateY(0px);
      background-color: var(--color-neutral-black);
    }

    100% {
      transform: translateY(265px);
      background-color: var(--color-neutral-black);
    }
  }

  /* fifth row */

  @keyframes TabletScreenDroppedPositionFifthRow {
    0% {
      transform: translateY(0px);
      background-color: transparent;
    }

    2% {
      transform: translateY(0px);
      background-color: var(--color-neutral-black);
    }

    100% {
      transform: translateY(352px);
      background-color: var(--color-neutral-black);
    }
  }

  /* sixth row */

  @keyframes TabletScreenDroppedPositionSixthRow {
    0% {
      transform: translateY(0px);
      background-color: transparent;
    }

    2% {
      transform: translateY(0px);
      background-color: var(--color-neutral-black);
    }

    100% {
      transform: translateY(441px);
      background-color: var(--color-neutral-black);
    }
  }
}

@media screen and (min-width: 90rem) {
  /* chips container */
  /* pointer */

  /* column 1 */

  [data-chipdroplocation="first"] .pointer-container {
    left: 17px;
  }

  /* column 2 */
  [data-chipdroplocation="second"] .pointer-container {
    left: 105px;
  }

  /* column 3 */
  [data-chipdroplocation="third"] .pointer-container {
    left: 193px;
  }

  /* column 4 */
  [data-chipdroplocation="fourth"] .pointer-container {
    left: 281px;
  }

  /* column 5 */
  [data-chipdroplocation="fifth"] .pointer-container {
    left: 370px;
  }

  /* column 6 */
  [data-chipdroplocation="sixth"] .pointer-container {
    left: 458px;
  }

  /* column 7 */
  [data-chipdroplocation="seventh"] .pointer-container {
    left: 545px;
  }

  .drop-selection-pointer-container {
    position: absolute;
    width: 599px;
    top: -38px;

    margin-block-start: 0px;
  }

  .pointer-container {
    width: 38px;
    height: 36px;

    position: absolute;
  }

  [data-playerturn="one"] .pointer-container {
    background-image: url("/images/marker-red.svg");
  }

  [data-playerturn="two"] .pointer-container {
    background-image: url("/images/marker-yellow.svg");
  }
}
